altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
packaging==24.2
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
requests==2.32.3
screeninfo==0.8.1
setuptools==75.4.0
urllib3==2.2.3